#filter .row{margin-bottom:10px;display:flex;}
#filter label{display:block;font-size:.9em;color:#ccc;font-weight:600;}
#filter label.check{font-size:1.1em;color:#000;font-weight:normal;padding:10px;}
#filter select,#filter input{border:none;padding:10px;display:block;width:100%;font-size:1.1em;border-bottom:solid 1px #000;}
#filter input[type=checkbox],#filter input[type=radio]{display:inline;width:auto;}
#filter .col-2{width:50%;}