<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.getwelltalent.app"
    versionCode = "10"
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>WellTalent</name>

    <description>
        The new way to recruit wellness employees.
    </description>

    <author href="https://getwelltalent.com" email="support@getwelltalent.com">
        WellTalent
    </author>
    
    <icon src="img/icon.png" />
		
    <platform name="android" />

    <plugin name="cordova-plugin-whitelist" source="npm" />

    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />

    <access origin="*" />

</widget>